@import "tailwindcss";

body {
  /* background-color: lightgreen; */
  font-family: Arial, Helvetica, sans-serif;
}



/* TARGET ONLY that div strongly */
div.custom-scrollbar {
  overflow-y: auto;
}

/* Chrome, Edge, Safari */
div.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

div.custom-scrollbar::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 9999px;
}

div.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #e5e7eb;
  border-radius: 9999px;
}

div.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #d1d5db;
}

/* Firefox */
div.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e5e7eb #f9fafb;
}